section.finances-section
  .wrapper
    .finances-section__container
      img.finances-section__line-2(src="images/finances-section-line.svg" loading="lazy" width="582" height="2" alt="icon")
      img.finances-section__line-3(src="images/finances-section-line.svg" loading="lazy" width="582" height="2" alt="icon")
      h2.finances-section__title.font-s-55.font-w-b-regular.text-center
        | Франшиза 
        br.no-br
        | ARETA FLOWERS 
        span.color-gold в цифрах
      .finances-section__box
        .finances-section__line
        .finances-section__text.font-s-16.color-beige
          | На какие показатели можно 
          br.no-br
          | рассчитывать?
        .swiper-finances
          .finances-section__cards.swiper-wrapper
            .finances-section__card.swiper-slide
              .finances-section__card-title
                img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
                .finances-section__card-text
                  .font-w-b-regular.font-s-26.text-up.color-beige от 128 000 ₽
                  .font-s-18 средняя чистая <br> ежемесячная прибыль
            .finances-section__card.swiper-slide
              .finances-section__card-title
                img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
                .finances-section__card-text
                  .font-w-b-regular.font-s-26.text-up.color-beige от 0,98 млн ₽
                  .font-s-18 первоначальные <br> инвестиции
            .finances-section__card.swiper-slide
              .finances-section__card-title
                img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
                .finances-section__card-text
                  .font-w-b-regular.font-s-26.text-up.color-beige 1 месяц
                  .font-s-18 чтобы начать <br> зарабатывать
            .finances-section__card.swiper-slide
              .finances-section__card-title
                img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
                .finances-section__card-text
                  .font-w-b-regular.font-s-26.text-up.color-beige от 1,5 млн ₽
                  .font-s-18 средняя чистая годовая <br> прибыль
            .finances-section__card.swiper-slide
              .finances-section__card-title
                img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
                .finances-section__card-text
                  .font-w-b-regular.font-s-26.text-up.color-beige от 12 мес
                  .font-s-18 срок окупаемости <br> вашего бизнеса
            .finances-section__card.swiper-slide
              .finances-section__card-title
                img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="35" height="35" alt="icon")
                .finances-section__card-text
                  .font-w-b-regular.font-s-26.text-up.color-beige 23,7%
                  .font-s-18 рентабельность <br> по чистой прибыли
          .finances-pagination.swiper-progress-finances
      img.finances-section__img(src="images/finances-section-img.png" loading="lazy" width="950" height="1176" alt="image")
      .finances-section__bottom
        img.finances-section__bottom-img(src="images/finances-section-bottom-img.png" loading="lazy" width="892" height="790" alt="image")
        .font-s-22
          | Ознакомьтесь детально с финансовыми расчетами вашего 
          br.no-br
          | будущего бизнеса
        .finances-section__bottom-title.font-w-b-regular.font-s-36.text-up
          | Скачайте 
          span.color-gold финансовую модель 
          br.no-br
          | ARETA FLOWERS
        form.finances-section__form(data-feedback-form)
          input.input.finances-item(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.finances-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.finances-item-btn(type="submit") Получить материалы
      //- .swiper-finances
      //-   .finances-section__cards.swiper-wrapper
      //-     .finances-section__card.swiper-slide
      //-       .font-w-medium.font-s-48.color-green.text-up 25 дней
      //-       .font-s-20.color-grey-67 понадобится на открытие
      //-     .finances-section__card.swiper-slide
      //-       .font-w-medium.font-s-48.color-green.text-up 3 месяца
      //-       .font-s-20.color-grey-67 средний срок окупаемости
      //-     .finances-section__card.swiper-slide
      //-       .font-w-medium.font-s-48.color-green.text-up 1 150 000 руб
      //-       .font-s-20.color-grey-67 размер ежемесячной выручки
      //-     .finances-section__card.swiper-slide
      //-       .font-w-medium.font-s-48.color-green.text-up 700 000 руб
      //-       .font-s-20.color-grey-67 размер ежемесячной прибыли
      //-     .finances-section__card.swiper-slide
      //-       .font-w-medium.font-s-48.color-green.text-up 1 375 000 руб
      //-       .font-s-20.color-grey-67 минимальный размер инвестиций
      //-     .finances-section__card.swiper-slide
      //-       .font-w-medium.font-s-48.color-green.text-up 63,4%
      //-       .font-s-20.color-grey-67 рентабельность по чистой прибыли
      //-   .finances-pagination.swiper-progress-finances
      //- img.finances-section__img-mobile(src="images/finances-section-img-mobile.png" loading="lazy" width="1340" height="1704" alt="image")
      //- .finances-section__bottom
      //-   .finances-section__bottom-title.font-w-medium.font-s-28
      //-     | Хотите получить детальные 
      //-     br.no-br
      //-     | расчеты для вашего города 
      //-     br.no-br
      //-     | и под ваш бюджет?
      //-   .finances-section__bottom-text.font-s-20 Скачайте финансовую модель франшизы
      //-   form.finances-section__form(data-feedback-form)
      //-     input.input.input--secondary.finances-item(type="text" name="name" autocomplete="off" placeholder="Имя")
      //-     input.input.input--secondary.finances-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
      //-     button.btn.btn--secondary.finances-item(type="submit") Скачать
      //- img.finances-section__img(src="images/finances-section-img.png" loading="lazy" width="1554" height="2188" alt="image")
