section.invest-section
  .wrapper
    .invest-section__container
      img.invest-section__icon(src="images/invest-section-icon.png" loading="lazy" width="59" height="86" alt="icon")
      h2.invest-section__title.font-w-b-regular.font-s-55
        span.color-gold 4 причины 
        br.no-br
        | открыть ARETA FLOWERS
      .swiper-invest
        .invest-section__cards.swiper-wrapper
          .invest-section__card-wrapper.card-rotate-dec.swiper-slide
            .invest-section__card
              .invest-section__card-title.font-w-b-regular.font-s-28.color-black Стандарт
              .invest-section__card-sub-title.font-w-b-regular.font-s-20.color-white формат
              img.invest-section__card-icon(src="images/invest-section-card-icon1.svg" loading="lazy" width="68" height="24" alt="icon")
              .font-s-15.color-black.text-center Получите описание <br> формата и узнайте размер <br> инвестиций
              button.btn.invest-item(data-remodal-target="modal-form-investments") Получить План
          .invest-section__card-wrapper.card-rotate-inc.swiper-slide.card-margin-top
            .invest-section__card
              .invest-section__card-title.font-w-b-regular.font-s-28.color-black V.I.P
              .invest-section__card-sub-title.font-w-b-regular.font-s-20.color-white формат
              img.invest-section__card-icon(src="images/invest-section-card-icon2.svg" loading="lazy" width="68" height="24" alt="icon")
              .font-s-15.color-black.text-center Получите описание <br> формата и узнайте размер <br> инвестиций
              button.btn.invest-item(data-remodal-target="modal-form-investments") Получить План
        .invest-pagination.swiper-progress-invest
